.root {
  position: absolute;
  left: -98.9744%;
  right: 186.6667%;
  top: -43.3649%;
  bottom: 137.6777%;
  width: min-content;
  height: min-content;
  padding: 12px;
  border-radius: 48px;
}
.group {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
