.arrowsDiagramsArrow.arrowsDiagramsArrow {
  left: 6.1538%;
  right: 81.5385%;
  top: 6.6351%;
  bottom: 87.6777%;
}
.icon {
  width: 100%;
  height: 100%;
}
.keyboard.keyboard {
  top: 541px;
  width: 390px;
  height: 303px;
}
.homeIndicator.homeIndicator.homeIndicator {
  left: 50%;
  background-color: #212226;
}
.dictation.dictation {
  left: 343.2px;
  top: 250.9381px;
  width: 15.6px;
  height: 26.0309px;
}
.dictation {
  left: 343.2px;
  top: 250.9381px;
  width: 15.6px;
  height: 26.0309px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.emoji.emoji {
  left: 26px;
  top: 249.8969px;
  width: 28.08px;
  height: 28.1134px;
}
.emoji {
  left: 26px;
  top: 249.8969px;
  width: 28.08px;
  height: 28.1134px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.rectangle.rectangle {
  right: -0.48px;
  bottom: -0.2681px;
}
.rectangle {
  right: -0.48px;
  bottom: -0.2681px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.label {
  color: #212226;
  font-size: 16px;
  line-height: 21px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.32px;
  position: absolute;
  left: 0;
  right: -0.48px;
  top: 26.1905%;
  bottom: 25.7897%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle2.rectangle2 {
  right: 0.28px;
  bottom: -0.2681px;
}
.rectangle2 {
  right: 0.28px;
  bottom: -0.2681px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.label2 {
  color: #212226;
  font-size: 16px;
  line-height: 21px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.32px;
  position: absolute;
  left: 0;
  right: 0.28px;
  top: 26.1905%;
  bottom: 25.7897%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle3.rectangle3 {
  right: 0.48px;
  bottom: -0.2681px;
}
.rectangle3 {
  right: 0.48px;
  bottom: -0.2681px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.label3 {
  color: #212226;
  font-size: 16px;
  line-height: 21px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.32px;
  position: absolute;
  left: 0;
  right: 0.48px;
  top: 26.1905%;
  bottom: 25.7897%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle4.rectangle4 {
  right: -0.32px;
  bottom: -0.2681px;
}
.rectangle4 {
  right: -0.32px;
  bottom: -0.2681px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.label4 {
  color: #212226;
  font-size: 16px;
  line-height: 21px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.32px;
  position: absolute;
  left: 0;
  right: -0.32px;
  top: 26.1905%;
  bottom: 25.7897%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.deleteButton.deleteButton {
  left: 353.2464px;
  top: 133.9656px;
  width: 23.5664px;
  height: 17.695px;
}
.deleteButton {
  left: 353.2464px;
  top: 133.9656px;
  width: 23.5664px;
  height: 17.695px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle5.rectangle5 {
  right: -0.32px;
  bottom: -0.2681px;
}
.symbol {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 48.0655%;
  right: 51.9345%;
  top: calc(50% - -1.134px);
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.icon9 {
  width: 100%;
  height: 100%;
}
.rectangle6.rectangle6 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol2 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 18.75%;
  right: 21.1538%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle7.rectangle7 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol3 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 25%;
  right: 23.9183%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle8.rectangle8 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol4 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 26.8029%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle9.rectangle9 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol5 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.0048%;
  right: 29.9279%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle10.rectangle10 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol6 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.0048%;
  right: 26.9231%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle11.rectangle11 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol7 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 31.0096%;
  right: 29.9279%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle12.rectangle12 {
  right: 0.28px;
  bottom: -0.2681px;
}
.symbol8 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 29.8077%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle13.rectangle13 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol9 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 31.25%;
  right: 29.6875%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle14.rectangle14 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol10 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 26.8029%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle15.rectangle15 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol11 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 31.25%;
  right: 32.6923%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle16.rectangle16 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol12 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 25%;
  right: 23.9183%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle17.rectangle17 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol13 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 25%;
  right: 26.9231%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle18.rectangle18 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol14 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 31.25%;
  right: 29.6875%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle19.rectangle19 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol15 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 25%;
  right: 26.9231%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle20.rectangle20 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol16 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 29.8077%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle21.rectangle21 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol17 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.0048%;
  right: 26.9231%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle22.rectangle22 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol18 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 26.8029%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle23.rectangle23 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol19 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 24.8798%;
  right: 27.0433%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle24.rectangle24 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol20 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 40.625%;
  right: 38.3413%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle25.rectangle25 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol21 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 25%;
  right: 23.9183%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle26.rectangle26 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol22 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 29.8077%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle27.rectangle27 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol23 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 31.1298%;
  right: 29.8077%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle28.rectangle28 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol24 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 26.8029%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle29.rectangle29 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol25 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 28.125%;
  right: 29.8077%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle30.rectangle30 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol26 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 18.6298%;
  right: 21.274%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle31.rectangle31 {
  right: 0.28px;
  bottom: -0.268px;
}
.symbol27 {
  color: #212226;
  font-size: 22.5px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5547px;
  position: absolute;
  left: 24.8798%;
  right: 27.0433%;
  top: calc(50% - -1.134px);
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.iPhoneXOrNewer.iPhoneXOrNewer {
  left: 0;
  top: 0;
  width: 390px;
}
.rightSide.rightSide.rightSide {
  left: 308.6667px;
}
.rightSide {
  left: 308.6667px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  background-color: #fff;
  overflow: hidden;
}
.rectangle62 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 272px;
  background-color: #212226;
}
.conversation {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 35.3846%;
  right: 34.1026%;
  top: 7.9384%;
  bottom: 89.0995%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ellipse147 {
  position: absolute;
  left: 24px;
  top: 136px;
  width: 56px;
  height: 56px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.chatbotIcon1 {
  position: absolute;
  left: 30.8936px;
  top: 144.8127px;
  width: 39.2936px;
  height: 39.2936px;
  border-radius: 96.4286px;
  background-image:/* webpackIgnore: true */ url('/assets/chatbotIcon1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uIAdmitGuide {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  position: absolute;
  left: 92px;
  top: 142px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.thisIsPrivateMessageBetweenYou {
  color: #fff;
  font-size: 12.75px;
  line-height: 20px;
  font-family: Gothic A1, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  position: absolute;
  left: 24px;
  top: 208px;
  width: 342px;
  height: min-content;
  flex-direction: column;
}
.sendAMessagePrompt {
  position: absolute;
  left: -13px;
  top: 449px;
  width: 410.5812px;
  height: min-content;
  flex-direction: column;
  padding: 35.0363px 26.2772px;
  border-radius: 0 0 0 52.5544px;
  background-color: #fff;
  box-shadow: 0px -2.1898px 109.4883px 0px #0000000a;
}
.sendMessageInput {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 17.5181px;
}
.input {
  height: min-content;
  flex: 1;
  padding: 10.9488px 21.8977px;
  outline: solid 1.6423px #979c9e;
  outline-offset: -2px;
  border-radius: 52.5544px;
  background-color: #fff;
}
.typeAMessage {
  color: #72777a;
  font-size: 17.5181px;
  line-height: 26.2772px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.categoriesIconButton {
  width: 48.1749px;
  height: 48.1749px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.nameActivity {
  position: absolute;
  left: 90px;
  top: 168px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.alwaysActive {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 4px;
}
.ellipse12 {
  width: 8px;
  height: 8px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.alwaysActive2 {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.botMessage {
  position: absolute;
  left: 25px;
  top: 287px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.messageFromBot {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.wed821AM {
  color: #72777a;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.message {
  width: 327px;
  height: min-content;
  align-items: flex-start;
  gap: 8px;
}
.frame2107 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.bot {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.chatbotIcon12 {
  position: absolute;
  left: -0.7064px;
  top: 0;
  width: 16px;
  height: 16px;
  background-image:/* webpackIgnore: true */ url('/assets/chatbotIcon12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textBox {
  height: min-content;
  flex: 1;
  padding: 16px;
  border-radius: 0 24px 24px;
  background-color: #f2f4f5;
}
.helloIMUIAdmitGuideYourPersona {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.labelWrapper {
  font-size: 16px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #303437;
  font-size: 16px;
  line-height: 24px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  color: #303437;
  font-size: 16px;
  line-height: 24px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label7 {
  color: #303437;
  font-size: 16px;
  line-height: 24px;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.xCloseButton_w1 {
  position: absolute;
  left: 334px;
  top: 73.125px;
  width: 15.75px;
  height: 15.75px;
  background-image:/* webpackIgnore: true */ url('/assets/xCloseButton_w1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
